.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav, h1, h2 ,h3 {
	font-family: 'Lobster', cursive;
}

/*
	Sätt saker i den ordningen de kommer i koden, 
	på så sätt är det mycket lättare att hitta sakerna i css:en.
*/

/*
	header area
*/
header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height:120px;
	border-bottom: 1px solid #000000;
	background-color: #AAAAAA;
}

header section.logo-section {
	font-size: 30px;
	text-align: center;
	padding: 10px;
	background-color: #EEEEEE;
}

header section.top-menu {
	/*background-color: #BBBBBB;*/
}

header section.top-menu ul {
	/*background-color: #BBBBBB;*/
}

header section.top-menu li {
	display: inline-block;
	cursor: pointer;
	width: 33.3%;
	margin: 0 -2px;
	font-size: 25px;
	text-align: center;
	border:1px solid #000000;
	background-color: #BBBBBB;
}

header section.top-menu li:hover {
	background-color: #CCCCCC;
}

header section.top-menu li:active {
	background-color: #DDDDDD;
}

header section.top-menu li.active {
	background-color: #FFFFFF;
}

header section.top-menu a {
	display: block;
	text-decoration: none;
	padding: 5px 0;
	color: #000000;
}

header section.sub-menu {
	
}

.sub-menu ul li {
	display: inline-block;
	margin-top: 1px;
	font-size: 13px;
	}

.sub-menu {
text-align: center;

}
.sub-menu input {
	text-align: center;
	font-family: verdana;
}

button {
	font-size: 20px;
	font-family: 'Lobster', cursive;
}

button.addNewBookButton {
	display: inline-block;
	width: 20vw;
	margin-left: 40vw;
	margin-top: 5vh;

}



/*
	pop-up box
*/
.pop-up {
	position: fixed;
	overflow: hidden;
	top:50%;
	left: 50%;
	margin: -35vh 0 0 -25vw;
	/*height: 70vh;*/
	height: auto;
	width: 50vw;
	background-color: #AAAAAA;
	border:1px solid #000000;
	border-radius: 5px;
	box-shadow: 5px 5px 8px #000000;
}

.pop-up .close-button {
	cursor: pointer;
	display: inline-block;
	float: right;
	font-family: sans-serif;
	text-align: center;
	padding: 3px 15px;
	border-bottom:1px solid #000000;
	border-left:1px solid #000000;
	border-radius: 0 0 0 5px;
	background-color: #e92323;
}

.pop-up .close-button:hover {
	background-color: #f42f2f;
}

.pop-up .close-button:active {
	background-color: #c11a1a;
}

.pop-up .content {
	padding: 15px;
	height: 100%;
	background-color: #999999;
}

.pop-up .search-field {
	padding: 0 0 5px;
	text-align: center;
}

.pop-up .search-field input[type=text] {
	font-size: 100%;
	width: 55%;
}

.pop-up .list-display {
	height: 40vh;
	overflow: auto;
	background-color: #FFFFFF;
}

.pop-up .button-section {
	display: block;
	width: 100%;
	bottom: 10%;
	padding: 5px 0 0;
	text-align: center;
}

/*
	main page
*/
main {
	display: block;
	padding:140px 0 0;
}

main ul {
	text-align: center;
}

ul li {
	display: inline-block;
	text-align: center;
}



