.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav, h1, h2 ,h3 {
	font-family: 'Lobster', cursive;
}

/*
	Sätt saker i den ordningen de kommer i koden, 
	på så sätt är det mycket lättare att hitta sakerna i css:en.
*/

header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height:120px;
	border-bottom: 1px solid #000000;
	background-color: #AAAAAA;
}

header section.logo-section {
	font-size: 30px;
	text-align: center;
	padding: 10px;
	background-color: #EEEEEE;
}

header section.top-menu {
	/*background-color: #BBBBBB;*/
}

header section.top-menu ul {
	/*background-color: #BBBBBB;*/
}

header section.top-menu li {
	display: inline-block;
	cursor: pointer;
	width: 33.3%;
	margin: 0 -2px;
	font-size: 25px;
	text-align: center;
	border:1px solid #000000;
	background-color: #BBBBBB;
}

header section.top-menu li:hover {
	background-color: #CCCCCC;
}

header section.top-menu li:active {
	background-color: #DDDDDD;
}

header section.top-menu li.active {
	background-color: #FFFFFF;
}

header section.top-menu a {
	display: block;
	text-decoration: none;
	padding: 5px 0;
	color: #000000;
}

header section.sub-menu {
	
}

.sub-menu ul li {
	display: inline-block;
	margin-top: 1px;
	font-size: 13px;

}

button {
	font-size: 20px;
	font-family: 'Lobster', cursive;
}

button.addNewBookButton {
	display: inline-block;
	width: 20vw;
	margin-left: 40vw;
	margin-top: 5vh;

}

.searchBox {
}

main {
	display: block;
	padding:140px 0 0;
}

main ul {
	text-align: center;
}

ul li {
	display: inline-block;
	text-align: center;
}



